.App {
  text-align: center;

  .heading-container {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > span {
        content: url(../public/tiny-hero.jpeg);
        height: 150px;
      }
      > a {
        font-size: larger;
      }
    }
  }
}

.App-header {
  background-color: #1e1d29;
  min-height: 87vh;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    min-height: 92vh;
  }

  .heading-container {
    > div {
      > span {
        height: 85px !important;
      }
    }
  }
}
