.App {
  text-align: center;

  .heading-container {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > span {
        content: url(../public/tiny-hero.jpeg);
        height: 150px;
      }
      > a {
        font-size: larger;
      }
    }
  }

  .rocket {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
  }
}

.App-header {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #060606;
  background-image: url(../public/dots-background.svg);
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
  }

  .heading-container {
    > div {
      > span {
        height: 85px !important;
      }
    }
  }
}
